<!DOCTYPE html>
<html lang="id">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="author" content="M. Akbar Nugroho">
	<meta name="description" content="My Project Documentation">
	<!-- Bootsrap 4 -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Typicon -->
	<link rel="stylesheet" type="text/css" href="assets/fonts/typicons.min.css">
	<!-- FontAwesome -->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- Custom Style -->
	<link rel="stylesheet" type="text/css" href="assets/css/base.css">
	<link rel="shortcut icon" href="favicon.png">
	<title>M. Akbar Nugroho (@thexdev)</title>
</head>
<body>
	<div id="root">
		<template id="navbar">
			<nav id="scrollspy" class="navbar navbar-expand-lg navbar-light bg-light py-md-3 sticky-top shadow-sm">
				<img src="favicon.png" class="img-fluid">
			  	<a class="navbar-brand ml-md-2" href="https://thexdev.github.io">THEXDEV</a>
				<button class="navbar-toggler border-0 p-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="typcn typcn-th-large-outline"></span>
				</button>

			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
				    <ul class="navbar-nav ml-auto">
					    <li class="nav-item">
					        <a class="nav-link text-serif" href="#skill">Skill</a>
					    </li>
				      	<li class="nav-item">
				        	<a class="nav-link text-serif" href="#project">Project</a>
				      	</li>
				      	<li class="nav-item">
				      		<a class="nav-link text-serif" href="#experience">Experience</a>
				      	</li>
				      	<li class="nav-item">
				        	<a class="nav-link text-serif" href="#contact">Contact</a>
				      	</li>
				    </ul>
			  	</div>
			</nav>
		</template>

		<template id="jumbotron">
			<div class="jumbotron jumbotron-fluid text-center">
			  	<div class="container">
			  		<p class="lead d-block d-md-none d-lg-none">
			  			<span class="badge badge-pill badge-light">A Full-Stack Web Developer</span>
			  		</p>
			  		<div class="p-0" style="font-size:2.5rem">
			    		<a href="https://github.com/thexdev/" target="_blank" class="text-secondary mx-2">
			    			<i class="typcn typcn-social-github-circular"></i>
			    		</a>
			    		<a href="https://www.instagram.com/akbar.n253_/" target="_blank" class="text-secondary mx-2">
			    			<i class="typcn typcn-social-instagram-circular"></i>
			    		</a>
			    		<a href="https://www.facebook.com/axeone.dev" target="_blank" class="text-secondary mx-2">
			    			<i class="typcn typcn-social-facebook-circular"></i>
			    		</a>
			    		<a href="https://twitter.com/AxeoneDeveloper/" class="text-secondary mx-2" target="_blank">
			    			<i class="typcn typcn-social-twitter-circular"></i>
			    		</a>
			    	</div>
			    	<h1 class="display-1 d-none d-md-block">THEXDEV</h1>
			    	<p class="lead d-none d-md-block d-lg-block">
						<span class="badge badge-pill badge-light">A Full-Stack Web Developer</span>
			    	</p>
			  	</div>
			</div>
		</template>

		<template id="abstraction">
			<div class="container mt-md-5">
				<div class="row">
					<div v-for="(me, index) in abstraction" :key="index" class="col-sm-12 col-md-4 text-center">
						<img class="w-50 mb-2" :src="me.image">
						<p class="text-serif text-capitalize">
							<span class="w-75 m-auto d-block lead">{{ me.text }}</span>
						</p>
					</div>
				</div>
			</div>
		</template>

		<template id="skill">
			<div class="container mt-5" data-spy="scroll" data-target="#scrollspy" data-offset="0">
				<div class="row">
					<div class="col-md-4" id="skill">
						<div class="card border-0 same-hight">
							<div class="card-header bg-light text-center border-0">
								<h4><span class="typcn typcn-flash-outline mr-2"></span>Front-end</h4>
							</div>
							<div class="card-body">
								<div v-for="skill in progress.frontEnd" class="mb-4">
									<strong class="card-text">{{ skill.label }} <span class="float-right">{{ skill.width }}</span></strong>
									<div class="progress" style="height: 2px">
										<div class="progress-bar bg-dark" role="progressbar" :style="'width:' + skill.width" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card border-0 same-hight">
							<div class="card-header bg-light text-center border-0">
								<h4><span class="typcn typcn-cog-outline mr-2"></span>Back-end</h4>
							</div>
							<div class="card-body">
								<div v-for="skill in progress.backEnd" :key="skill.label" class="mb-4">
									<strong class="card-text">{{ skill.label }} <span class="float-right">{{ skill.width }}</span></strong>
									<div class="progress" style="height: 2px">
										<div class="progress-bar bg-dark" role="progressbar" :style="'width:' + skill.width" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card border-0 same-hight">
							<div class="card-header bg-light text-center border-0">
								<h4><span class="typcn typcn-puzzle-outline mr-2"></span>Framework</h4>
							</div>
							<div class="card-body">
								<div v-for="skill in progress.framework" :key="skill.label" class="mb-4">
									<strong class="card-text">{{ skill.label }} <span class="float-right">{{ skill.width }}</span></strong>
									<div class="progress" style="height: 2px">
										<div class="progress-bar bg-dark" role="progressbar" :style="'width:' + skill.width" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card border-0 same-hight">
							<div class="card-header bg-light text-center border-0">
								<h4><span class="typcn typcn-document-text mr-2"></span>Database</h4>
							</div>
							<div class="card-body">
								<div v-for="skill in progress.database" :key="skill.label" class="mb-4">
									<strong class="card-text">{{ skill.label }} <span class="float-right">{{ skill.width }}</span></strong>
									<div class="progress" style="height: 2px">
										<div class="progress-bar bg-dark" role="progressbar" :style="'width:' + skill.width" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card border-0 same-hight">
							<div class="card-header bg-light text-center border-0">
								<h4><span class="typcn typcn-globe-outline mr-2"></span>Environtment</h4>
							</div>
							<div class="card-body">
								<div v-for="skill in progress.environtment" :key="skill.label" class="mb-4">
									<strong class="card-text">{{ skill.label }} <span class="float-right">{{ skill.width }}</span></strong>
									<div class="progress" style="height: 2px">
										<div class="progress-bar bg-dark" role="progressbar" :style="'width:' + skill.width" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card border-0 same-hight">
							<div class="card-header bg-light text-center border-0">
								<h4><span class="typcn typcn-th-small-outline mr-2"></span>Other</h4>
							</div>
							<div class="card-body">
								<div v-for="skill in progress.other" :key="skill.label" class="mb-4">
									<strong class="card-text">{{ skill.label }} <span class="float-right">{{ skill.width }}</span></strong>
									<div class="progress" style="height: 2px">
										<div class="progress-bar bg-dark" role="progressbar" :style="'width:' + skill.width" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</template>

		<template id="project">
			<div class="container">
				<div class="row">
					<div class="col-md-12" id="project">
						<div class="table-responsive shadow border-light p-4 rounded">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>Proyek</th>
										<th>Bahasa</th>
										<th>Deskripsi</th>
										<th>Ukuran</th>
										<th>Stars</th>
										<th>Opsi</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(project, index) in repos" :key="project.name">
										<td>{{ index + 1 }}</td>
										<td>{{ project.name | stripless}}</td>
										<td>{{ project.language }}</td>
										<td>{{ project.description }}</td>
										<td>{{ project.size + 'kb' }}</td>
										<td>{{ project.stargazers_count }}</td>
										<td>
											<a class="btn btn-outline-dark btn-sm rounded-pill text-dark" :href="project.html_url"><i class="typcn typcn-arrow-down-outline"></i> Download</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</template>

		<template id="expirience">
			<div class="container mt-5">
				<div class="row">
					<div class="col-md-3" id="experience">
						 <div class="card border-0">
						 	<div class="card-header text-center bg-light border-0 text-serif">
						 		<h4>
									<span class="typcn typcn-mortar-board mr-1"></span>Pendidikan
								</h4>
						 	</div>
							<div class="card-body timeline">
								<ul>
									<li v-for="(info, index) in timeline.school" :key="index">
								        <span></span>
								        <div>{{ info.school }}</div>
								        <div class="text-wrap">{{ info.address }}</div>
								        <div>{{ info.course }}</div>
								        <div class="year">
								          	<span>{{ info.yearEnd }}</span>
								          	<span>{{ info.yearStart }}</span>
								        </div>
								    </li>
							    </ul>
							</div>
						 </div>
					</div>
					<div class="col-md-3">
						 <div class="card border-0">
						 	<div class="card-header text-center bg-light border-0 text-serif">
						 		<h4>
									<span class="typcn typcn-watch mr-1"></span>Pengalaman
								</h4>
						 	</div>
							<div class="card-body timeline">
								<ul>
								    <li>
								        <span></span>
								        <div>Be A Part One Of Me</div>
								        <div>. . .</div>
								        <div>. . .</div>
								        <div class="year">
								          	<span>0000</span>
								          	<span>0000</span>
									    </div>
									</li>
							    </ul>
							</div>
						 </div>
					</div>
					<div class="col-md-3">
						 <div class="card border-0">
						 	<div class="card-header text-center bg-light border-0 text-serif">
						 		<h4>
									<span class="typcn typcn-thumbs-up mr-1"></span>Prestasi
								</h4>
						 	</div>
							<div class="card-body">
								<ol class="p-0 m-auto">
								    <li class="mb-3" v-for="(info, index) in timeline.pride" :key="index">
								        {{ info }}
									</li>
							    </ol>
							</div>
						 </div>
					</div>
					<div class="col-md-3">
						 <div class="card border-0">
						 	<div class="card-header text-center bg-light border-0 text-serif">
						 		<h4>
									<span class="typcn typcn-group-outline mr-1"></span>Organisasi
								</h4>
						 	</div>
							<div class="card-body">
								<ol class="p-0 m-auto">
								    <li class="mb-3" v-for="(info, index) in timeline.organization" :key="index">
								        {{ info }}
									</li>
							    </ol>
							</div>
						 </div>
					</div>
				</div>
			</div>
		</template>

		<template id="footer-content">
			<div class="jumbotron jumbotron-fluid mb-0">
				<div class="container">
					<div class="row" id="contact">
						<div class="col-md-4 text-center text-md-left text-lg-left">
							<p>&copy;2019 - M. Akbar Nugroho</p>
							<a class="btn btn-sm btn-light rounded-pill text-dark" target="_blank" href="https://drive.google.com/drive/folders/1QDg2m6QfyhXlxYUqgxUAUm3RiJ2BeM1-?usp=sharing">Download My CV</a>
						</div>
						<div class="col-md-4">
							<strong class="my-2 mb-md-2 mt-md-0 d-block text-center text-md-left text-lg-left">Contact</strong>
							<ul class="px-3 p-md-0 p-lg-0 list-unstyled">
								<li class="my-1"><i class="fa fa-envelope-open-o mr-2"></i>akbarnugroho253@gmail.com</li>
								<li class="my-1"><i class="fa fa-whatsapp mr-2"></i>+62852956686526</li>
								<li class="my-1"><i class="fa fa-telegram mr-2"></i>@thexdev</li>
							</ul>
						</div>
						<div class="col-md-4">
							<div class="p-0 text-center text-md-left text-lg-left" style="font-size:2.5rem">
					    		<a href="https://github.com/thexdev/" target="_blank" class="text-secondary mx-2">
					    			<i class="typcn typcn-social-github-circular"></i>
					    		</a>
					    		<a href="https://www.instagram.com/akbar.n253_/" target="_blank" class="text-secondary mx-2">
					    			<i class="typcn typcn-social-instagram-circular"></i>
					    		</a>
					    		<a href="https://www.facebook.com/axeone.dev" target="_blank" class="text-secondary mx-2">
					    			<i class="typcn typcn-social-facebook-circular"></i>
					    		</a>
					    		<a href="https://twitter.com/AxeoneDeveloper/" class="text-secondary mx-2" target="_blank">
					    			<i class="typcn typcn-social-twitter-circular"></i>
					    		</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</template>
	</div>

	<!-- Vue.js -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
	<!-- Axios -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<!-- Bootstrap JS Plugin -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- Web Component -->
	<script src="app.js"></script>
	<script>
		$(function () {
		    let heights = []
		    let skill   = $('.same-hight')

		    skill.each(function() {
		      heights.push($(this).height())
		    });

		    let maxHeight = Math.max.apply(null, heights)

		   	skill.height(maxHeight)

		   	$('body').scrollspy({ target: '#scrollspy' })
		})
	</script>
</body>
</html>
